@using SoManyBooksSoLittleTime.Common
@model SoManyBooksSoLittleTime.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@section Css{
<link rel="stylesheet" href="~/css/bookFlip.css" asp-append-version="true" />
}

<div class="text-center row">
    <h1 class="display-4 text-center text-dark">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-12">
        <div class="row">
            @foreach (var book in this.Model.RandomBooks)
            {
                <div class="container col-md-4 bookFlip">
                    <div class="info bookFlip">
                    </div>
                    <div class="bookFlip mobile-layout">
                        <div class="bookFlip notification-header">
                        </div>
                        <div class="bookFlip book-cover">
                            <img class="book-top bookFlip" src="@book.ImageUrl" alt="book-image" />
                        </div>
                        <div class="preface bookFlip">
                            <div class="content bookFlip">
                                <div class="header bookFlip">
                                    <div class="title bookFlip">
                                        <a asp-controller="Books" asp-action="ById" asp-route-id="@book.Id">@book.Title</a>
                                        </div>
                                    <div class="icon bookFlip">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </div>
                                <div class="author bookFlip">by @book.AuthorName</div>
                                <div class="body bookFlip">
                                    <p class="bookFlip">
                                        @book.Description ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<hr />

<div class="container">
    <h4 class="text-center text-dark">We have:</h4>
    <div class="row row-cols-4 ">
        <ul class="list-group">
            <li class="list-group-item text-dark text-center">Books: @Model.BooksCount</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item text-dark text-center">Authors: @Model.AuthorsCount</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item text-dark text-center">Genres: @Model.GenresCount</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item text-dark text-center">Images: @Model.ImagesCount</li>
        </ul>
    </div>
</div>
