@using SoManyBooksSoLittleTime.Common
@model SoManyBooksSoLittleTime.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
    <p class="text-dark">We have:</p>
    <ul class="list-group">
        <li class="list-group-item text-dark">Books: @Model.BooksCount</li>
        <li class="list-group-item text-dark">Authors: @Model.AuthorsCount</li>
        <li class="list-group-item text-dark">Genres: @Model.GenresCount</li>
        <li class="list-group-item text-dark">Images: @Model.ImagesCount</li>
    </ul>
    </div>
</div>
