@model SoManyBooksSoLittleTime.Web.ViewModels.Books.BooksListViewModel

@{
    this.ViewData["Title"] = "All Books, page " + Model.PageNumber;
}

<h1 class="text-dark">@this.ViewData["Title"]</h1>

<hr />
<div class="row">
    @foreach (var book in this.Model.Books)
    {
        <div class="media col-md-4">
            <img src="@book.ImageUrl" width="100" class="mr-3" img-responsive>
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ById" asp-route-id="@book.Id">@book.Title</a></h5>
                <p class="text-dark">@book.AuthorFullName</p>
            </div>
        </div>
    }
</div>
<hr />

<partial name="_PagingPartial" model="@Model" />