@using SoManyBooksSoLittleTime.Common
@using SoManyBooksSoLittleTime.Web.ViewModels.Books
@model SingleBookViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

@section Css{
<link rel="stylesheet" href="~/css/styleBookById.css" asp-append-version="true" />
}

<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">@this.ViewData["Title"]</div>
        <article class="postcard light blue">
            <a class="postcard__img_link">
                <img class="postcard__img" src="@Model.ImageUrl" alt="@Model.Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a>By @Model.AuthorFullName</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="DD.MM.YYYY">
                        <i class="fas fa-calendar-alt mr-2"></i>Published: @Model.Published.ToShortDateString()
                    </time>
                    <i class="fa fa-star mr-2"></i>Raiting: @Model.Rating
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">@Model.Description</div>
                <ul class="postcard__tagbox">
                    @foreach (var item in Model.Genres)
                    {
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>@item.GenreName</li>
                    }
                </ul>
                <ul class="postcard__tagbox">
                    <li class="tag__item play blue">
                        <i class="fas fa-user mr-2"></i>Added by: @(Model.UserUserName ?? "Admin")
                    </li>
                </ul>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <ul class="postcard__tagbox">
                        <li class="tag__item play blue">
                            <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                        </li>
                    </ul>
                    <ul class="postcard__tagbox">
                        <li class="tag__item play red">
                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                            </form>
                            <a class="btn" data-toggle="modal" data-target="#deleteModal">Delete</a>
                        </li>
                    </ul>
                }
            </div>
        </article>
    </div>
</section>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="postcard text-dark">Do you want to delete "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>